.spotImages {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "area1 area2 area4 area6"
        "area1 area3 area5 area7";

}

.image0 {
    grid-area: area1;
    height: 510px;
    width: auto;

}

.image1 {
    grid-area: area2;
    height: 250px;
    width: auto;

}

.image2 {
    grid-area: area3;
    height: 250px;
    width: auto;

}

.image3 {
    grid-area: area4;
    height: 250px;
    width: auto;

}

.image4 {
    grid-area: area5;
    height: 250px;
    width: auto;

}

.image5 {
    grid-area: area6;
    height: 250px;
    width: auto;

}

.image6 {
    grid-area: area7;
    height: 250px;
    width: auto;

}

/* .previewImage {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.nonPreviewImages {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.nonPreviewImages>img {
    padding-top: 10px;
    padding-left: 10px;
} */
