.spotsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}

.spotPreview {
    /* display: inline-block;
    align-self: center; */
    display: inline-block;
}

.locationRating {
    display: flex;
    justify-content: space-between;
}

.updateDelete {
    display: flex;
    align-content: flex-start;

}

.deleteSpotButton {
    font-family: "Nunito", cursive;
    font-weight: bold;
}
