.updateSpotForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 20px;
    margin: 5px 33%;
}

.updateSpotForm label {
    width: 100%;
    margin-bottom: 10px;
}

.updateSpotForm input {
    width: 97%;
    height: auto;
}

.errors {
    margin: 0;
    color: red;
}

.updateSpotForm p {
    margin-top: 5px;
}

.updateSpotForm h3 {
    margin-bottom: 5px;
}


.heading>p {
    margin-top: 5px;
    margin-bottom: 25px;
}

.images {
    width: 100%;
}

.images label>input {
    width: 97%;
    height: auto;
}

div.cityState {
    width: 100%;
    display: grid;
    grid-template-columns: 55% 37%;
    gap: 28px
}

div.latLong {
    display: grid;
    grid-template-columns: 46% 46%;
    gap: 28px;
    width: 100%
}

.updateSpotForm .description textarea {
    width: 99%;
    height: 150px
}


.updateSpotForm .sectionDivider {
    border: 1px solid rgba(0, 0, 0, 0.847);
    width: 100%;
}

/* .updateSpotForm button {
    margin-left: 22%;
} */
button.updateSpotButton {
    display: inline-block;
    margin: 0 auto;
}

.updateSpotButton {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: "Nunito", cursive;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    padding: 8px;
    background-color: #ff395adc;
    color: white;
    width: 250px
}

.updateSpotButton:hover {
    background-color: #FF395B;
    /* transform: scale(1.1); */
}

div.price label {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
}

.name label>input {
    width: 97%
}
