/* css for login form */
form {
    padding: 20px;
}

input {
    display: block;
    height: 10px;
    padding: 5px;
    margin-bottom: 5px
}

.signUpForm {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.signUpForm button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    padding: 2px;
    margin-top: 10px;
}
