/* css for login form */


form {
    padding: 20px;
}

h1 {
    margin-left: 20px;
}

input {
    display: block;
    height: 10px;
    padding: 5px;
}

button {
    display: block;
    font-size: large;
    margin: 5px
}

p.errors {
    color: red;
}
